.countNumber{
  margin: 20px;
  padding: 20px;
  border: 2px solid rgb(11, 1, 1);
  background-color: black;
  color: white;
  text-align: center;

}
.countNumber button{
  margin: 16px;
  font-size: 20px;
  border-radius: 5px;
  padding: 3px;
  padding-right: 5px;
  padding-left: 5px;

}
.countNumber p {
  font-size: 24px;
}

.nametag {
  color: aqua;
  font-family: 'Brush Script MT';
}

.count-type span{
  padding: 5px;
  padding-right:  30px;
  padding-left: 30px;
  margin: 15px;
  font-size: 15px solid;
  background-color: white;
  color: black;
  border-radius: 20px;
}

